# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
ENV/

# Ignore DBT compiled files
dbt_modules/
target/

# Ignore sensitive configuration files
profiles.yml
secrets.env

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db